.fl {
    display: flex;
    align-items: center;
    &.hr {
        flex-direction: row;
    }
    &.cl {
        flex-direction: column;
    }
    .a-i {
        align-items: initial;
    }
    .a-st {
        align-items: start;
    }
    .a-end {
        align-items: end;
    }
    .j-st {
        justify-content: start;
    }
    .j-c {
        justify-content: center;
    }
    .j-b {
        justify-content: space-between;
    }
    .j-end {
        justify-content: end;
    }
}

.o-i {
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        height: 50px;
        width: 100%;
        background: linear-gradient(to bottom, transparent 0%, var(--bs-card-bg) 90%, var(--bs-card-bg) 100%);
    }
}

.h-150 {
    height: 150px;
}
.h-200 {
    height: 200px;
}

.h-250 {
    height: 250px;
}

.h-300 {
    height: 300px;
}

.mh-300 {
    min-height: 300px;
}

.box {
    border: solid 1px rgba($color: #fff, $alpha: 0.4);
}
.text-center {
    text-align: center;
}
.fi {
    font-style: italic;
}
