body {
    min-height: 100vh;
}

img.card-thumbnails {
    padding: 0.8em;
    width: 40%;
}

:root {
    --bs-card-spacer-x: 0.5em;
    // --bs-primary: teal;
}

.card {
    --bs-card-spacer-x: 0.5em;

    &.thumb-cover {
        position: relative;
        display: flex;
        justify-content: end;
        img.card-thumbnails {
            width: 100%;
            position: absolute;
            z-index: 1;
        }

        .card-body {
            width: 60%;
            margin-left: 40%;
            z-index: 1;
            background-color: rgba($color: #fff, $alpha: 0.7);
        }
    }
}

.badge {
    &.game {
        background-color: transparent;
        $_color: #a86aff;
        border: solid 1px $_color;
        color: $_color;
    }
    &.generator {
        background-color: transparent;

        $_color: #f17070;

        border: solid 1px $_color;
        color: $_color;
    }
    &.tool {
        background-color: transparent;

        $_color: #e9912c;

        border: solid 1px $_color;
        color: $_color;
    }
}
