body {
    min-height: 100vh;
}

img.card-thumbnails {
    padding: 0.8em;
    width: 40%;
}

:root {
    --bs-card-spacer-x: 0.5em;
    // --bs-primary: teal;
}

.card {
    --bs-card-spacer-x: 0.5em;
}

.badge {
    &.game {
        background-color: transparent;
        $_color: #a86aff;
        border: solid 1px $_color;
        color: $_color;
    }
    &.generator {
        background-color: transparent;

        $_color: #f17070;

        border: solid 1px $_color;
        color: $_color;
    }
    &.tool {
        background-color: transparent;

        $_color: #e9912c;

        border: solid 1px $_color;
        color: $_color;
    }
}
